<%- include("./template/header.ejs") -%>

<% if (typeof manager !== "undefined") {%>
	<div class="container manager">
		<p>Connecte toi en saisissant ton adresse mail, si tu n'as pas de compte <a href="/register">inscris toi</a> !</p>
		<form>
			<input type="email" name="email" placeholder="abc@exemple.com">
			<button class="btn-submit">Valider</button>
		</form>
	</div>
<% } %>
</body>