body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

body.manager{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	position: relative;
	margin: 5% auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 36px;
}

header section:nth-child(1) {
	display: flex;
	align-items: center;
	position: relative;
	width: auto;
	height: auto;
}

header section:nth-child(2) {
	display: flex;
	flex-direction: row;
	width: 23%;
	justify-content: space-between;
	align-items: baseline;
}

form {
	display: flex;
	flex-direction: column;
}

form input {
	border: 1 px solid #2FB4F9;
	border-radius: 7px;
	width: 500px;
	padding: 11px 0 11px 15px;
	font-size: 15px;
	outline: none;
}
.logo {
	font-size: 38px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
}

.logo.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	color: #1A6BE3;
	overflow: hidden;
	z-index: 99;
	transition: .3s;
}

.logo.cover:hover {
	width: 100%;
}



.logo:hover ~ .logo.cover {
	width: 100%;
}

header .link {
	color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
	transition: .3s;
}

header .link:hover {
	color: #000;
}
.flag {
	position: relative;
	width: 40px;
	height: 20px;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flag:before, .flag:after {
	content: '';
	width: 13px;
	height: 100%;
}

.flag:before {
	background: #1A6BE3;
}

.flag:after {
	background: #E31A1A;
}

.container.manager {
	position: relative;
	margin: 215px auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.container.manager p {
	width: 307px;
	height: 76px;
	font-size: 15px;
}

.container.manager p a{
	text-decoration: none;
	color: #2FB4F9;
}

.container.manager p a:hover{
	text-decoration: underline;
}