<!DOCTYPE html>
<html>
<head>
	<title>Space</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/css/templatesStyle/header.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<%if (typeof data.manager !== "undefined") { %>
<body class="manager">
<% } else { %>
<body>
<% } %>
	<% if (typeof data.manager !== "undefined") {%>
	<header class="header <%= data.manager %>">
		<section>
			<h1 class="logo">space</h1>
		</section>
		<section>
			<% switch (data.manager) {
				case 'login' : %>
					<a class="link" href="/register">Inscription</a>
				     <% break;
				case 'register' : %>
				     <a class="link" href="/login">Connection</a>
				     <% break;
				case 'token' || 'logout' : %>
				     <% break;
				} %>
			<div class="flag"></div>
			</section>
		</header>
	<% } %>
