<!DOCTYPE html>
<html>
<head>
	<title>Space</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<%if (typeof manager !== "undefined") { %>
<body class="manager">
<% } else { %>
<body>
<% } %>
	<% if (typeof manager !== "undefined") {%>
	<header class="header <%= manager %>">
		<section>
			<h1 class="logo">space</h1>
			<h1 class="logo cover">space</h1>
		</section>
		<section>
			<a class="link" href="">
				<% switch (manager) {
					case 'login' : %>
						Inscription
					     <% break;
					case 'register' : %>
					     Connection
					     <% break;
					case 'token' || 'moreInfo' : %>
					     
					     <% break;
					} %>
				</a>
			<div class="flag"></div>
			</section>
		</header>
	<% } %>
